<template>
  <div>
    <account-container
      title="บัญชีธนาคาร"
    >
      <div>
        <a-form>
          <div class="form-wrapper">
            <a-form-item
              label="ธนาคาร"
              :label-col="{ span: 5 }"
              :wrapper-col="{ span: 12 }"
            >
              <a-select
                :disabled="user.isBankVerify"
                placeholder="ธนาคาร"
                :value="userData.bankName"
                @change="handleSelectChange"
              >
                <a-select-option value="ธนาคารกรุงเทพ">
                  ธนาคารกรุงเทพ
                </a-select-option>
                <a-select-option value="ธนาคารกรุงไทย">
                  ธนาคารกรุงไทย
                </a-select-option>
                <a-select-option value="ธนาคารกรุงศรีอยุธยา">
                  ธนาคารกรุงศรีอยุธยา
                </a-select-option>
                <a-select-option value="ธนาคารกสิกรไทย">
                  ธนาคารกสิกรไทย
                </a-select-option>
                <a-select-option value="ธนาคารซีไอเอ็มบี ไทย">
                  ธนาคารซีไอเอ็มบี ไทย
                </a-select-option>
                <a-select-option value="ธนาคารทหารไทย">
                  ธนาคารทหารไทย
                </a-select-option>
                <a-select-option value="ธนาคารทิสโก้">
                  ธนาคารทิสโก้
                </a-select-option>
                <a-select-option value="ธนาคารไทยพาณิชย์">
                  ธนาคารไทยพาณิชย์
                </a-select-option>
                <a-select-option value="ธนาคารธนชาต">
                  ธนาคารธนชาต
                </a-select-option>
                <a-select-option value="ธนาคารยูโอบี">
                  ธนาคารยูโอบี
                </a-select-option>
                <a-select-option value="ธนาคารแลนด์ แอนด์ เฮ้าส์">
                  ธนาคารแลนด์ แอนด์ เฮ้าส์
                </a-select-option>
                <a-select-option value="ธนาคารไอซีบีซี (ไทย)">
                  ธนาคารไอซีบีซี (ไทย)
                </a-select-option>
              </a-select>
            </a-form-item>
            <a-form-item
              label="เลขบัญชี"
              :label-col="{ span: 5 }"
              :wrapper-col="{ span: 12 }"
            >
              <a-input
                v-model="userData.bankAccount"
                :disabled="user.isBankVerify"
                placeholder="เลขบัญชี"
              />
            </a-form-item>
            <a-form-item
              label="รูป"
              :label-col="{ span: 5 }"
              :wrapper-col="{ span: 12 }"
            >
              <div class="dropbox">
                <a-upload
                  :disabled="user.isBankVerify"
                  :multiple="false"
                  name="avatar"
                  :file-list="fileList"
                  list-type="picture-card"
                  class="avatar-uploader"
                  :before-upload="beforeUpload"
                  :remove="removeUploadFile"
                  :show-upload-list="{
                    showPreviewIcon: false
                  }"
                  @change="handleChange"
                >
                  <div>
                    <a-icon type="plus" />
                    <div class="ant-upload-text">
                      Upload
                    </div>
                  </div>
                </a-upload>
              </div>
            </a-form-item>
          </div>
          <div class="action-wrapper">
            <!-- <a-button class="oa-button is-danger" size="large" :style="{marginRight: '18px'}">ลบ</a-button>
            <a-button class="oa-button" size="large" :style="{marginRight: '18px'}">ยกเลิก</a-button> -->
            <a-button class="oa-button is-primary" size="large" @click="handleSubmit">
              บันทึก
            </a-button>
          </div>
        </a-form>
      </div>
    </account-container>
    <loading-modal v-if="isLoading" />
  </div>
</template>
<script>
import { get, call } from 'vuex-pathify'
import AccountContainer from '~/components/account/AccountContainer.vue'
import LoadingModal from '~/components/loading-modal.vue'

export default {
  components: {
    AccountContainer,
    LoadingModal
  },
  layout: 'account',
  data () {
    return {
      file: null,
      fileList: [],
      isLoading: false,
      userData: {
        bankAccount: '',
        bankName: ''
      }
    }
  },
  computed: {
    ...get('auth', {
      user: 'user'
    })
  },
  methods: {
    ...call('auth', [
      'fetchMe',
      'editMe'
    ]),
    handleSubmit () {
      this.isLoading = true
      const payload = new FormData()
      payload.append('bank_account', this.userData.bankAccount)
      payload.append('bank_name', this.userData.bankName)
      if (this.file) { payload.append('bank_account_url', this.file) }

      const formEntries = Array.from(payload.entries())
      console.log('formEntries ', formEntries)
      this.editMe(payload).then(() => {
        return this.fetchMe()
      }).then((res) => {
        this.userData = {
          ...this.user
        }
        this.openNotificationWithIcon('success', 'สำเร็จ', 'เปลี่ยนข้อมูลธนาคารสำเร็จ')
      }).catch(() => {
        this.openNotificationWithIcon('error', 'ไม่สำเร็จ', 'เปลี่ยนข้อมูลธนาคารไม่สำเร็จ โปรดตรวจสอบอีกครั้ง')
      }).finally(() => {
        this.isLoading = false
      })
    },
    handleChange ({ fileList }) {
      this.fileList = fileList
    },
    beforeUpload (file) {
      this.file = file
      this.fileList = [file]
    },
    removeUploadFile () {
      this.file = null
      this.fileList = []
    },
    openNotificationWithIcon (type, message, description) {
      this.$notification[type]({
        message,
        description,
        duration: 2
      })
    },
    handleSelectChange (value) {
      this.userData.bankName = value
    }
  },
  async fetch ({ store }) {
    try {
      await store.dispatch('auth/fetchMe')
    } catch (e) {

    }
  },
  created () {
    this.userData = {
      ...this.user
    }
    if (this.user && this.user.bankAccountUrl) {
      this.fileList = [
        {
          uid: '-1',
          name: 'xxx.png',
          status: 'done',
          url: this.user && this.user.bankAccountUrl
        }
      ]
    }
  }
}
</script>

<style lang="less" scoped>
.content-wrapper {
  .title-wrapper {
    border-bottom: 1px solid rgba(158, 158, 158, 0.4);
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    .title {
      color: #424242;
      font-size: 1.6rem;
      font-weight: 500
    }
  }
}
.form-wrapper {
  padding: 45px 80px;
  /deep/ .ant-input {
    height: 40px;
    &::placeholder {
      color: #95989a;
    }
  }
  /deep/ .ant-select-selection--single {
    height: 40px;
  }
  /deep/ .ant-form-item {
    margin-bottom: 20px;
  }
  /deep/ .ant-select-selection__rendered {
    line-height: 38px;
  }
  /deep/ .ant-select-selection__placeholder {
    color: #95989a;
    font-weight: 400;
    font-size: 1.4rem;
  }
  /deep/ .ant-form-item-label > label {
    color: #424242;
  }
}
.mock-img {
  background: #424242;
  &.small {
    margin-top: 10px;
    height: 93px;
  }
}
.action-wrapper {
   border-top: 1px solid rgba(158, 158, 158, 0.4);
   display: flex;
   justify-content: flex-end;
   padding-top: 36px;
}

.cancel {
  width: 100px;
}
.remove {
  width: 100px;
  color: white;
  background: #f20000;
}
.save {
  width: 100px;
  color: white;
  background: #ff9300;
}
</style>
