<template>
  <div>
    <account-container
      title="ติดตามการประมูล"
      action-title=""
      action-link="/account/edit"
    >
      <div>
        <div class="offer-wrapper">
          <div class="offer-table">
            <auction-table
              :auctions="auctions"
              :total="auctionPageData.numberItems"
              @selectAuction="onSelectAuction"
              @changePage="page => onChangePage(page, tab.key)"
            />
          </div>
        </div>
      </div>
    </account-container>
  </div>
</template>
<script>
import { call, get } from 'vuex-pathify'
import AuctionTable from './components/AuctionTable'
import AccountContainer from '~/components/account/AccountContainer.vue'

export default {
  components: {
    AccountContainer,
    AuctionTable
  },
  layout: 'account',
  data () {
    return {
      searchData: {
      },
      status: 'FAVOURITE',
      pageData: {
        FAVOURITE: 1
      }
    }
  },
  async fetch ({ store }) {
    try {
      await store.dispatch('auth/fetchMe')
    } catch (e) {

    }
  },
  computed: {
    auctions: get('auction/auctions'),
    user: get('auth/user'),
    currentPage () {
      return this.pageData[this.status]
    },
    auctionPageData: get('auction/auctionPageData')
  },
  methods: {
    ...call('auction', [
      'setBiddingAuction',
      'fetchAuctions'
    ]),
    async initiateData () {
      this.$wait.start('base loading')
      await this.fetchAuctions({ page: this.currentPage, favorite_auction_bases_user_id: this.user.id })
      this.$wait.end('base loading')
    }
  },
  async created () {
    await this.initiateData()
  }
}
</script>

<style lang="less" scoped>
.offer-wrapper {
  padding: 20px 0px;
}
.offer-table {
  .ant-table-wrapper {
    background: white;
    border-radius: 4px;
    border-top-left-radius: 0px;
    /deep/ .ant-table-thead > tr > th {
      background: white;
    }
  }
}
</style>
