<template>
  <section class="container" style="margin-top: 70px;">
    <carousel-section />
    <graph-section />
    <news-section :articles="articles" />
    <services-section />
    <advertising-section />
    <sponsors-section />
  </section>
</template>

<script>
import { get } from 'vuex-pathify'
import CarouselSection from '~/components/homepage/carousel-section.vue'
import GraphSection from '~/components/homepage/graph-section.vue'
import NewsSection from '~/components/homepage/news-section.vue'
import ServicesSection from '~/components/homepage/services-section.vue'
import AdvertisingSection from '~/components/homepage/advertising-section.vue'
import SponsorsSection from '~/components/homepage/sponsors-section.vue'

export default {
  components: {
    CarouselSection,
    GraphSection,
    NewsSection,
    ServicesSection,
    AdvertisingSection,
    SponsorsSection
  },
  computed: {
    articles: get('article/articles')
  },
  async asyncData ({ store }) {
    await store.dispatch('article/fetchArticles')
    return {}
  }
}
</script>
